<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Программа по наладке вентиляционного оборудования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="mt-4 md-4 text-center ">Добавление точки измерения</h1>
<div class="container mt-4 md-5">
    <div class="row" id="mainRow">
        <div class="col-md-2 mb-4"></div>
        <div class="col-md-8 mb-4">
            <div class="card" style="background: #866394; ">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h2 th:text="${point.nameOfPoint}" class="card-title">Название точки измерения</h2>
                        </div>
                        <div class="col">
                            <div th:if="${point.discrepancy}==null">
                            </div>
                            <div th:unless="${point.discrepancy}==null">
                                <div th:if="${T(java.lang.Math).abs(point.discrepancy)>8}">
                                    <p style="text-align: end; color: red">% расхождения <strong th:text="${point.discrepancy}" style="color: red;"></strong></p>
                                </div>
                                <div th:unless="${T(java.lang.Math).abs(point.discrepancy)>8}">
                                    <p style="text-align: end; color: green">% расхождения <strong th:text="${point.discrepancy}" style="color: green;"></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Тип измерения: </p>
                        </div>
                        <div class="col-md-5 mb-2" th:if="${point.typeMeasuring} == ${type_meas_on}">
                            <p class="card-text" id="typeMeasuring">На решетке</p>
                        </div>
                        <div class="col-md-5 mb-2" th:unless="${point.typeMeasuring} == ${type_meas_on}">
                            <p class="card-text" id="typeMeasuring1">В канале</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Тип измерения: </p>
                        </div>
                        <div class="col-md-5 mb-2" th:if="${point.typeOfHole} == ${circular}">
                            <p class="card-text" id="typeOfHole">Круглая</p>
                        </div>
                        <div class="col-md-5 mb-2" th:unless="${point.typeOfHole} == ${circular}">
                            <p class="card-text" id="typeOfHole1">Прямоугольная</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Площадь сечения: </p>
                        </div>
                        <div class="col-md-3 mb-2">
                            <p th:text="${point.crossSectionalArea}" class="card-text" id="crossSectionalArea">Площадь сечения.</p>
                        </div>
                        <div class="col-md-2 mb-2">
                            <p class="card-text">м2</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Расход воздуха по проекту: </p>
                        </div>
                        <div class="col-md-3 mb-2">
                            <p th:text="${point.airVolume}" class="card-text" id="projAirVolume">Расход воздуха по проекту.</p>
                        </div>
                        <div class="col-md-2 mb-2">
                            <p class="card-text">м3/ч</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Проектная скорость потока воздуха: </p>
                        </div>
                        <div class="col-md-3 mb-2">
                            <p th:text="${point.airFlowRate}" class="card-text" id="projectAirFlowRate">Проектная скорость потока воздуха:</p>
                        </div>
                        <div class="col-md-2 mb-2">
                            <p class="card-text">м/с</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Текущий расход воздуха: </p>
                        </div>
                        <div class="col-md-3 mb-2">
                            <p th:text="${point.currentAirVolume}" class="card-text" id="currentAirVolume">Текущий расход воздуха.</p>
                        </div>
                        <div class="col-md-2 mb-2">
                            <p class="card-text">м3/ч</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 mb-2">
                            <p class="card-text">Текущая скорость потока воздуха: </p>
                        </div>
                        <div class="col-md-3 mb-2">
                            <p th:text="${point.currentAirFlowRate}" class="card-text" id="currentAirFlowRate">Текущая скорость потока
                                воздуха.</p>
                        </div>
                        <div class="col-md-2 mb-2">
                            <p class="card-text">м/с</p>
                        </div>
                    </div>
                    <div class="row" id="measList">
                        <div th:if="${point.listAirFlowRate.isEmpty()}">
                            <p class="card-text">Не было сделано измерений!</p>
                        </div>
                        <div th:unless="${point.listAirFlowRate.isEmpty()}">
                            <div class="row">
                                <h2 style="color: black">Измерения</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <p>№</p>
                                </div>
                                <div class="col-md-4">
                                    <p>Значение</p>
                                </div>
                                <div class="col-md-7">
                                    <p>Примечание</p>
                                </div>
                            </div>
                            <div>
                                <div th:each="meas, iState: ${point.getListAirFlowRate()}">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p th:text="${iState.index + 1}">№</p>
                                        </div>
                                        <div class="col-md-4">
                                            <p><strong th:text="${meas.getValueOfMeasure()}"></strong>м/с</p>
                                        </div>
                                        <div class="col-md-7">
                                            <p th:text="${meas.getNote()}">Примечание</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 mb-4"></div>
    </div>
    <div class="row mt-4" id="btnRow">
        <div class="col text-center">
            <a th:href="@{/commissioning/objects/{objectId}/vents/{ventylationSystemId}/points(objectId=${object.objectId}, ventylationSystemId =${vent.ventilationSystemId})}"
               class="btn btn-secondary btn-lg" style="font-size: x-large; font-weight: bold;">Вернуться к списку точек измерения</a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>

<style type="text/css">
    body {
        background: #a1c3d1 !important;
        color: #f2ecf5 !important;
        font-family: 'Montserrat', sans-serif !important;
    }

    p {
        font-size: larger;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color: #f2ecf5

    }

    div .row {
        border-bottom: 5px solid #b39bc8;
    }

    div #mainRow {
        border-bottom: none;
    }

    div #btnRow {
        border-bottom: none;
    }

    div #measList {
        border: 5px solid #b39bc8;
    }

    h2 {
        font-weight: bold;
    }

    h1 {
        font-weight: bold;
    }
</style>