<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Программа по наладке вентиляционного оборудования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="mt-4 md-4 text-center ">Изменение точки измерения</h1>
<div class="container mt-4 md-5">
    <form th:method="POST" th:action="@{/commissioning/objects/{objectId}/vents/{ventilationSystemId}/points/update(objectId=${object.objectId}, ventilationSystemId=${vent.ventilationSystemId})}"
          th:object="${update_point}">
        <input type="hidden" th:field="*{pointId}" id="pointId">
        <input type="hidden" th:field="*{typeOfHole}" id="typeOfHole">
        <input type="hidden" th:field="*{typeMeasuring}" id="typeMeasuring">
        <div th:if="${update_point.currentAirVolume == null}">
            <input type="hidden" th:field="*{currentAirVolume}" value="0">
        </div>
        <div th:unless="${update_point.currentAirVolume == null}">
            <input type="hidden" th:field="*{currentAirVolume}">
        </div>
        <div th:if="${update_point.currentAirFlowRate == null}">
            <input type="hidden" th:field="*{currentAirFlowRate}" value="0">
        </div>
        <div th:unless="${update_point.currentAirFlowRate == null}">
            <input type="hidden" th:field="*{currentAirFlowRate}">
        </div>

        <div class="row mt-5" style="background: #866394; ">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-nameOfSystem" style="font-size: xx-large">Наименование точки измерения</span>
                    <input type="text" th:field="*{nameOfPoint}" id="nameOfSystem" class="form-control"
                           aria-label="Наименование вент. системы" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>

        <div class="row mt-5" style="background: #866394; ">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg" th:if="${update_point.typeMeasuring} ==${type_meas_on}">
                    <span class="input-group-text" id="inputGroup-typeMeas" style="font-size: xx-large">Тип измерения</span>
                    <input type="text" value="На решетке" class="form-control" aria-label="Площадь сечения" aria-describedby="inputGroup-sizing-lg"
                           readonly>
                </div>
                <div class="input-group input-group-lg" th:unless="${update_point.typeMeasuring} ==${type_meas_on}">
                    <span class="input-group-text" id="inputGroup-typeMeas2" style="font-size: xx-large">Тип измерения</span>
                    <input type="text" value="Внтури канала" class="form-control" aria-label="Площадь сечения" aria-describedby="inputGroup-sizing-lg"
                           readonly>
                </div>
            </div>
        </div>

        <div class="row mt-5" style="background: #866394; ">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg" th:if="${update_point.typeOfHole} ==${circular}">
                    <span class="input-group-text" id="inputGroup-typeOfHole" style="font-size: xx-large">Тип точки</span>
                    <input type="text" value="Круглый" class="form-control" aria-label="Площадь сечения" aria-describedby="inputGroup-sizing-lg"
                           readonly>
                </div>
                <div class="input-group input-group-lg" th:unless="${update_point.typeOfHole} ==${circular}">
                    <span class="input-group-text" id="inputGroup-typeOfHole2" style="font-size: xx-large">Тип точки</span>
                    <input type="text" value="Прямоугольный" class="form-control" aria-label="Площадь сечения" aria-describedby="inputGroup-sizing-lg"
                           readonly>
                </div>
            </div>
        </div>
        <div class="row mt-5 " style="background: #866394; align-content: center;">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-crossSectionalArea" style="font-size: x-large">Площадь сечения</span>
                    <input type="text" id="crossSectionalArea" th:field="*{crossSectionalArea}"
                           class="form-control" aria-label="Площадь сечения" aria-describedby="inputGroup-sizing-lg"
                           readonly>
                </div>
            </div>
        </div>

        <div class="row mt-5 " style="background: #866394; align-content: center;">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-airVolume" style="font-size: x-large">Объем воздуха по проекту</span>
                    <input type="text" id="airVolume" th:field="*{airVolume}" class="form-control"
                           aria-label="Объем воздуха по проекту" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>
        <div class="row mt-5 " style="background: #866394; align-content: center;">
            <button class="btn btn-success" type="button" onclick="doMathAirflow();" style="font-weight: bold;">Посчитать скорость воздуха</button>
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-airFlowRate" style="font-size: x-large">Скорость воздуха по проекту</span>
                    <input type="text" id="airFlowRate" th:field="*{airFlowRate}" class="form-control"
                           aria-label="Скорость воздуха по проекту" aria-describedby="inputGroup-sizing-lg" readonly>
                </div>
            </div>
        </div>


        <div class="row mt-5">
            <div class="btn-group" role="group" aria-label="Простой пример">
                <a th:href="@{/commissioning/objects/{objectId}/vents/{ventilationSystemId}/points(objectId=${object.objectId}, ventilationSystemId=${vent.ventilationSystemId})}"
                   class="btn btn-secondary btn-lg" style="font-size: x-large; font-weight: bold;">Вернуться назад</a>
                <button href="#" class="btn btn-primary btn-lg" style="font-size: x-large; font-weight: bold;" type="submit">
                    Изменить точку измерения
                </button>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    function doMathAirflow() {
        var result;
        airVolume = airVolumeInput.value;
        crossSectionalArea = crossSectionalAreaInput.value;
        result = airVolume / (crossSectionalArea * 3600);
        airFlowRateInput.value = result.toFixed(2);
        console.log(result)
    }

    const crossSectionalAreaInput = document.getElementById("crossSectionalArea")
    const airVolumeInput = document.getElementById("airVolume")
    const airFlowRateInput = document.getElementById("airFlowRate")





</script>

</body>
</html>

<style type="text/css">
    body {
        background: #a1c3d1 !important;
        color: #f2ecf5 !important;
        font-family: 'Montserrat', sans-serif !important;
    }
    h2 {
        font-weight: bold;
    }

    h1 {
        font-weight: bold;
    }
</style>