<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Программа по наладке вентиляционного оборудования</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<h1 class="mt-4 md-4 text-center ">Изменение вент. системы</h1>
<div class="container mt-4 md-5">
    <form th:method="POST" th:action="@{/commissioning/objects/{objectId}/vents/update(objectId=${object.objectId})}"
          th:object="${update_vent}">
        <input type="hidden" th:field="*{ventilationSystemId}" id="ventilationSystemId">
        <input type="hidden" th:field="*{pointsOfSystem}" id="pointsOfSystem">
        <div class="row mt-5" style="background: #866394; ">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-nameOfSystem" style="font-size: xx-large">Наименование вент. системы</span>
                    <input type="text" th:field="*{nameOfSystem}" id="nameOfSystem" class="form-control"
                           aria-label="Наименование вент. системы" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>
        <div class="error_message" th:if="${#fields.hasErrors('nameOfSystem')}">
            <div class="row justify-content-center">
                <div class="col-3 align-middle"></div>
                <div class="col-9 align-self-center">
                    <div th:errors="*{nameOfSystem}">nameOfSystem Error</div>
                </div>
            </div>
        </div>
        <div class="row mt-5 " style="background: #866394; align-content: center;">
            <div class="col mt-3 mb-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-fullAirVolume" style="font-size: xx-large">Полный расход воздуха</span>
                    <input type="text" th:field="*{fullAirVolume}" id="fullAirVolume" class="form-control"
                           aria-label="Полный расход воздуха" aria-describedby="inputGroup-sizing-lg">
                </div>
            </div>
        </div>
        <div class="error_message" th:if="${#fields.hasErrors('fullAirVolume')}">
            <div class="row justify-content-center">
                <div class="col-3 align-middle"></div>
                <div class="col-9 align-self-center">
                    <div th:errors="*{fullAirVolume}">fullAirVolume Error</div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="btn-group" role="group" aria-label="Простой пример">
                <a th:href="@{/commissioning/objects/{objectId}/vents(objectId=${object.objectId})}"
                   class="btn btn-secondary btn-lg" style="font-size: x-large; font-weight: bold;">Вернуться назад</a>
                <button href="#" class="btn btn-primary btn-lg" style="font-size: x-large; font-weight: bold;" type="submit">Изменить вент.
                    систему
                </button>
            </div>
        </div>
    </form>
</div>
</body>
</html>

<style type="text/css">
    body {
        background: #a1c3d1 !important;
        color: #f2ecf5 !important;
        font-family: 'Montserrat', sans-serif !important;
    }
    h2 {
        font-weight: bold;
    }

    h1 {
        font-weight: bold;
    }
    .error_message{
        color: red;
        font-weight: bold;
        font-size: larger;
    }
</style>